body {
	background-color: rgb(234, 237, 240);
}

h1 {
	font-family: 'Merienda One';
	font-size: 64px;
}

a h1 {
	font-size: 48px;
}

h2 {
	font-family: 'Roboto';
	font-size: 54px;
}

h3 {
	font-family: 'Roboto';
	font-size: 48px;
}

h4 {
	font-family: 'Roboto';
	font-size: 40px;
}

h5 {
	font-family: 'Roboto';
	font-size: 36px;
}

h6 {
	font-family: 'Roboto';
	font-size: 30px;
}


p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
}

#quizButton {
	background-image: linear-gradient(to right, rgb(159, 199, 207), rgb(193, 220, 192));
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 0px;
}

.progress-bar {
	background: rgb(166,144,238);
	background: linear-gradient(90deg, rgba(166,144,238,1) 0%, rgba(154,238,255,1) 100%);
}

.rounded {
	border-radius: 5px !important;
}

#hoop {
	background-image: url("../img/hoop.svg");
	background-repeat: no-repeat;
	height: 600px;
	background-size: contain;
	background-position: center;
}

#frontImg {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
		transform: translate(50%, 50%);
}

#center {
		position: absolute;
    left: 50%;
		transform: translate(-50%, -50%);
}

#crossstitch {
	background-image: url("../img/embroidery-hoop2.svg");
	background-repeat: no-repeat;
	height: 600px;
	background-size: contain;
	background-position: center;
}

#template {
	display: table;
	border-spacing: 1px;
	background-color: black;
	border: 5px solid black;
}

#palette {
	display: table;
}

/* Had to change name of class so that it would not interfere with bootstrap's row class */
.trow {
	display: table-row;
}

.pixel {
	display: table-cell;
	background-color: white;
	width: 40px;
	height: 40px;
}

.pen {
  display: inline-block;
  width: 40px;
  height:40px;
  border: 1px solid black;
	margin: 0px 0.5px;
}

#navbar a {
	color: black;
}

#navbar a:hover {
	color: gray;
	text-decoration: none;
}
